
/* Add a black background color to the top navigation */
.topnav 
{
  background-color: #00c5ff;
  overflow: hidden;
  text-align: center;

}

/* Style the links inside the navigation bar */
.topnav a 
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.weddingParty {

  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.bridesMaids {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}
.grooomsmen {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.regsitry{
  background-image: url(gifts.png);
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}


#countDown
{

   margin-right: auto;
   margin-left: auto;
   color: #00c5ff;

}
/* Change the color of links on hover */
.topnav a:hover 
{
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active 
{
  background-color: #04AA6D;
  color: white;
}

.left
{
  width: 300px;
  border: 15px solid #00c5ff;
  padding: 50px;
  margin: 20px;
  float: left;
}

.right
{
  width: 300px;
  border: 15px solid #00c5ff;
  padding: 50px;
  margin: 20px;
  float: right;
}

.center
{
  width: 300px;
  border: 15px solid #00c5ff;
  padding: 50px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;


}




/* Hide the link that should open and close the topnav on small screens */
.topnav .icon 
{
  display: none;
}
